body     { background-color: #272727; color: #999999 }
a        { font-weight:bold; color:green; text-decoration:none; }
a:focus  { font-weight:bold; color:red; text-decoration:underline; }
a:hover  { font-weight:bold; color:red; text-decoration:none; }
a:active { font-weight:bold; color:red; text-decoration:underline; }


div.nav { position:fixed; color:green ;border:1px solid #404040; width:200px; z-index:100; }
div.nav a, div.nav h2 { display:block; margin:0 0.5em; }


 img { max-width:75%; }
