body     { background-color: #272727; color: #999999; max-width:900px; margin: 0 auto}

a        { color:#999999; text-decoration:underline; }
a:focus  { color:red; text-decoration:underline; }
a:hover  { color:red; text-decoration:none; }
a:active { color:red; text-decoration:underline; }

h2, h3 { color:green;text-decoration:none; }

div.nav { position:fixed; color:green ;border:1px solid #404040; width:200px; z-index:100; }
div.nav a, div.nav h2 { font-weight:bold; display:block; margin:0 0.5em;color:green;text-decoration:none; }

#screenshots{
    text-align:center;
}

img.screenshot { max-width:75%;display:block;margin-left:auto;margin-right:auto }
img.preview { max-width:35%; display: inline-block;margin-left:auto;margin-right:auto}
