---
---
<div class="nav">
  <!-- navigation -->
  <font size="6">{</font>
  <nav><ul>
      <li><a href="#Projects">Projects</a></li>
      <li><a href="#AboutMe">About me…</a></li>
  </ul></nav>
  <font size="6">}</font>

  <!-- find-me -->
  <div style="font-family: Source Sans Pro, sans-serif; position:fixed; width:200px; font-size:small;color:#999999">
    <br><br><br><font size=1>find me:</font>
  </div>
  <div style="position:fixed; width:160px; text-align:right">
    <br><br>
    <a href="https://github.com/jolange/">
      <img height="32" width="33"  src="img/GitHub-Mark.svg" alt="GitHub" vspace="10">
    </a>
    <a href="http://www.physik.rwth-aachen.de/go/id/dwqp/gguid/0xB0F69C54F853A54EBC659BFD16AB88E1/ikz/11/allou/1">
      <img height="32" width="110" src="img/RWTH_Logo_white.png" alt="RWTH">
    </a>
  </div>
</div>

<!-- footline-->
<div id="bottom" style="position:fixed;bottom:0;font-size:xx-small;
                        font-weight: normal; font-family: 'Source Code Pro', sans-serif;">
  <script language="javascript">
    var theDate = new Date(document.lastModified);
    with (theDate) {
    document.write("<i>Last updated "+getFullYear()+'-'+ (getMonth()+1) +'-'+getDate()+"</i>")
    }
  </script>
<br>  {% last_modified_a %}
<br>  {% last_modified_at | date: "%F" %}
  <table>
    <tr>
      <td>&copy; 2014-2015</td>
      <td>Johannes Lange</td>
    </tr>
    <tr>
      <td></td>
      <td><a style="font-weight: normal;" href="http://www.physik.rwth-aachen.de/go/id/dwqp/gguid/0xB0F69C54F853A54EBC659BFD16AB88E1/ikz/11/allou/1">Contact</a></td>
    </tr>
  </table>
</div>
